@import "../../../index.scss";

$main-color: #2b88f0;
$tag-color: #f0932b;
$highlight-color: #273c75;

.random-choice-picker__container {
  @include container;
  @include flex(column nowrap, center, center);
  background: $main-color;

  .random-choice-picker__wrapper {
    width: 30rem;

    @include mobile {
      width: 80vw;
    }

    h3 {
      font-family: "Soleil Book";
      color: $white-color;
      margin-bottom: 1.5rem;
      text-align: center;
      font-size: 1.25rem;

      @include mobile {
        font-size: 1rem;
        margin-bottom: 1rem;
      }
    }

    .btn {
      @include flex(row nowrap, center, center);
      display: none;
      font-family: "Soleil Light";
      color: $white-color;
      background: $tag-color;
      margin: 0 auto 1rem;
      text-align: center;
      font-size: 1rem;
      border: none;
      padding: 0.5rem 1.5rem;
      border-radius: 3rem;
      transition: all 0.4s ease;

      @include mobile {
        @include flex(row nowrap, center, center);
      }

      &:active {
        transform: scale(0.9);
      }
    }

    textarea {
      font-family: "Soleil Light";
      border: none;
      display: block;
      width: 100%;
      height: 7rem;
      padding: 0.5rem;
      margin: 0 0 1.5rem;
      font-size: 1rem;

      @include mobile {
        font-size: 0.9rem;
        margin: 0 0 1rem;
      }

      &:focus {
        outline: none;
      }
    }

    .tag {
      font-family: "Soleil Light";
      background: $tag-color;
      color: $white-color;
      border-radius: 3rem;
      padding: 0.5rem 1.5rem;
      margin: 0 0.25rem 0.5rem 0;
      font-size: 0.9rem;
      display: inline-flex;

      &.highlight {
        background: $highlight-color;
      }
    }
  }
}
