@font-face {
  font-family: FreightTextPro;
  font-weight: 900;
  font-style: italic;
  src: url('./FreightTextProBlack-Italic.otf');
}
@font-face {
  font-family: FreightTextPro;
  font-weight: 900;
  font-style: normal;
  src: url('./FreightTextProBlack-Regular.otf');
}
@font-face {
  font-family: FreightTextPro;
  font-weight: 700;
  font-style: italic;
  src: url('./FreightTextProBold-Italic.otf');
}
@font-face {
  font-family: FreightTextPro;
  font-weight: 700;
  font-style: normal;
  src: url('./FreightTextProBold-Regular.otf');
}
@font-face {
  font-family: FreightTextPro;
  font-weight: 600;
  font-style: italic;
  src: url('./FreightTextProBook-Italic.otf');
}
@font-face {
  font-family: FreightTextPro;
  font-weight: 600;
  font-style: normal;
  src: url('./FreightTextProBook-Regular.otf');
}
@font-face {
  font-family: FreightTextPro;
  font-weight: 500;
  font-style: italic;
  src: url('./FreightTextProSemibold-Italic.otf');
}
@font-face {
  font-family: FreightTextPro;
  font-weight: 500;
  font-style: normal;
  src: url('./FreightTextProSemibold-Regular.otf');
}
@font-face {
  font-family: FreightTextPro;
  font-weight: 300;
  font-style: italic;
  src: url('./FreightTextProMedium-Italic.otf');
}
@font-face {
  font-family: FreightTextPro;
  font-weight: 300;
  font-style: normal;
  src: url('./FreightTextProMedium-Regular.otf');
}
@font-face {
  font-family: FreightTextPro;
  font-weight: 100;
  font-style: italic;
  src: url('./FreightTextProLight-Italic.otf');
}
@font-face {
  font-family: FreightTextPro;
  font-weight: 100;
  font-style: normal;
  src: url('./FreightTextProLight-Regular.otf');
}
