@import "../../../index.scss";

$bg-color: #f4f4f4;
$main-color: #476ce4;

.testimonials-switcher__container {
  @include container;
  @include flex(row nowrap, center, center);
  background: $bg-color;
  padding: 0.5rem;
  font-family: "Poppins", sans-serif;

  .testimonial-wrapper {
    @include flex(column nowrap, center, flex-start);
    background: $main-color;
    border-radius: 15px;
    margin: 1.5rem auto;
    padding: 3rem 5rem;
    max-width: 50rem;
    position: relative;

    @include mobile {
      padding: 1.5rem 2rem;
    }

    .progress-bar {
      @include animation(grow, 10s linear infinite) {
        0% {
          transform: scaleX(0);
        }
      }
      background: $white-color;
      height: 0.25rem;
      width: 100%;
      transform-origin: left;
    }

    .icon {
      color: $white-color;
      opacity: 0.3;
      font-size: 3rem;
      position: absolute;

      @include mobile {
        display: none;
      }

      &.left {
        left: 2rem;
      }

      &.right {
        right: 2rem;
        transform: rotate(180deg);
      }
    }

    .testimonial {
      color: $white-color;
      text-align: justify;
      line-height: 1.5rem;
      margin: 1rem 0;
    }

    .user {
      @include flex(row nowrap, center, center);

      .avatar {
        border-radius: 50%;
        height: 5rem;
        width: 5rem;
        object-fit: cover;
      }

      .user-details {
        margin-left: 1rem;

        .username {
          color: $white-color;
          margin: 0;
        }

        .role {
          color: $white-color;
          margin: 0.1rem 0;
        }
      }
    }
  }
}
