@import '../../index.scss';

.menu {
  @include flex(column nowrap, center, center);
  width: 20rem;
  height: 100vh;
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  right: -20rem;
  z-index: 2;
  transition: all 1s ease;

  @include screen-1500px {
    width: 15rem;
  }

  @include mobile {
    width: 12.5rem;
  }

  &.active {
    right: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--white-color);
    width: 60%;

    li {
      margin: 1.5rem 0;
      cursor: pointer;

      &:hover {
        font-weight: 500;
      }
    }
  }
}