@import "../../../index.scss";

$main-color: #1d1d1d;

.hoverboard__container {
  @include container;
  @include flex(row nowrap, center, center);
  background: $black-color;

  .hoverboard__wrapper {
    @include flex(row wrap, center, center);
    max-width: 25rem;

    @include mobile {
      max-width: 90vw;
    }

    .square {
      background: $main-color;
      box-shadow: 0 0 2px $black-color;
      height: 1rem;
      width: 1rem;
      margin: 0.1rem;
      transition: 2s ease;

      @include mobile {
        height: 4rem;
        width: 4rem;
      }

      &:hover {
        transition-duration: 0s;
      }
    }
  }
}
