@import "../../index.scss";

.home {
  @include container;
  @include flex(row nowrap, center);
  font-family: "Roboto", sans-serif;
  position: relative;

  @include screen(1200px) {
    @include flex(column nowrap, center, center);
  }

  @include mobile {
    @include flex(column nowrap, center, center);
  }

  .left {
    flex: 0.5;

    .img-container {
      @include flex(row nowrap, flex-end, center);
      background: $secondary-color;
      border-radius: 50%;
      width: 40rem;
      height: 40rem;
      max-height: calc(100vh - 4.5rem);
      margin: 0 2rem;

      @include screen(1500px) {
        margin: 0 1.5rem;
      }

      @include screen(1300px) {
        width: 35rem;
        height: 35rem;
        margin: 0 1rem;
      }

      @include screen(1200px) {
        @include flex(row nowrap, flex-start, center);
        width: 48rem;
        height: 48rem;
        margin: 0 2rem;
      }

      img {
        height: 100%;

        @include screen(1200px) {
          height: 65%;
        }
      }
    }
  }

  .right {
    flex: 0.5;

    .wrapper {
      @include flex(column nowrap, initial, center);
      width: 100%;
      height: 100%;
      padding-left: 2rem;

      @include screen(1500px) {
        padding-left: 1.5rem;
      }

      @include screen(1200px) {
        padding-left: 0;
        align-items: center;
      }

      @include mobile {
        padding-left: 0;
        align-items: center;
      }

      h1 {
        font-size: 3.5rem;
        margin: 0.7rem 0;

        @include mobile {
          font-size: 2.5rem;
        }
      }

      h2 {
        font-size: 2.1rem;

        @include mobile {
          font-size: 1.8rem;
        }
      }

      h3 {
        font-size: 1.8rem;

        @include mobile {
          font-size: 1.5rem;
        }

        span {
          font-size: inherit;
          color: $secondary-color;
        }

        .ityped-cursor {
          @include animation(cursorBlink, 1s infinite) {
            50% {
              opacity: 1;
            }
            100% {
              opacity: 0;
            }
          }
        }
      }
    }

    a {
      position: absolute;
      bottom: 0.5rem;
      left: calc(50% - 1rem);

      .scroll {
        @include animation(
          mouseBlink,
          2s infinite cubic-bezier(0.15, 0.41, 0.69, 0.94)
        ) {
          0% {
            opacity: 0;
          }
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
        width: 2rem;
        height: 3rem;
        border-radius: 20px;
        border: 0.1rem solid $black-color;
        position: relative;

        &::before,
        &::after {
          content: "";
          position: absolute;
          background: $black-color;
        }

        &::before {
          top: 0.4rem;
          left: calc(50% - 0.1rem);
          width: 0.25rem;
          height: 0.5rem;
          border-radius: 10px;
        }

        &::after {
          top: 0;
          left: 50%;
          width: 0.05rem;
          height: 50%;
        }
      }
    }
  }
}
