@import '../../../index.scss';

:root {
  --primary-UI-color: var(--black-color);
  --secondary-UI-color: var(--white-color);
}

.theme-clock__container {
  @include container;
  @include flex(row nowrap, center, center);
  transition: all 0.5s ease;

  &.dark {
    --primary-UI-color: var(--white-color);
    --secondary-UI-color: var(--brown-color);
    background: var(--black-color);
    color: var(--white-color);
  }

  .theme-toggle {
    font-family: 'Poppins';
    background: var(--primary-UI-color);
    color: var(--secondary-UI-color);
    border: none;
    border-radius: 4px;
    padding: 0.5rem 0.7rem;
    position: absolute;
    top: 6rem;
  }

  .clock-container {
    @include flex(column nowrap, center, space-between);

    .clock {
      position: relative;
      width: 15rem;
      height: 15rem;

      .needle {
        background: var(--primary-UI-color);
        position: absolute;
        top: 50%;
        left: 50%;
        height: 5rem;
        width: 0.4rem;
        border-radius: 10px;
        transform-origin: bottom center;
        transition: all 0.25s ease;

        &.hour {
          transform: translate(-50%, -100%) rotate(0deg);
        }

        &.minute {
          height: 7rem;
          transform: translate(-50%, -100%) rotate(0deg);
        }

        &.second {
          height: 7rem;
          transform: translate(-50%, -100%) rotate(0deg);
          background: var(--red-color);
        }
      }

      .center-point {
        background: var(--red-color);
        width: 1rem;
        height: 1rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;

        &::after {
          content: '';
          background: var(--primary-UI-color);
          width: 0.7rem;
          height: 0.7rem;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
        }
      }
    }

    .time {
      font-family: 'Poppins';
      font-size: 5rem;
    }

    .date {
      font-family: 'Poppins';
      color: var(--date-theme-clock-color);
      font-size: 1rem;
      letter-spacing: 0.5px;
      text-transform: uppercase;

      .circle {
        font-family: 'Poppins';
        background: var(--primary-UI-color);
        color: var(--secondary-UI-color);
        border-radius: 50%;
        height: 1.5rem;
        width: 1.5rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 1.2rem;
        transition: all 0.5s ease;
        font-size: 0.8rem;
      }
    }
  }
}
