@import '../../index.scss';

@mixin opacity($opacity) {
  opacity: $opacity;
  transition: opacity 1s ease;
}

.portfolio {
  @include container;
  @include flex(column nowrap, center);
  background-color: var(--white-color);

  h1 {
    font-size: 3rem;
    overflow: hidden;
    height: 7.5vh;

    @include screen-1300px {
      font-size: 2.5rem;
    }

    @include screen-1000px {
      font-size: 2rem;
    }

    @include mobile {
      font-size: 1.5rem;
      height: 5vh;
    }

    @include tablet {
      font-size: 3rem;
    }
  }

  ul {
    @include flex(row nowrap, center, space-between);
    margin: 0.5rem;
    padding: 0;
    list-style: none;
    overflow: hidden;
    height: 7.5vh;

    @include mobile {
      @include flex(row wrap, center, center);
      margin: 0.25rem;
      height: 10vh;
    }

    @include tablet {
      @include flex(row nowrap, center, space-between);
      margin: 0.5rem;
      height: 7.5vh;
    }

    li {
      font-size: 1rem;
      margin: 0 1.5rem;
      padding: 0.5rem;
      border-radius: 10px;
      cursor: pointer;
      overflow: hidden;
      transition: all 0.5s ease;

      @include screen-1000px {
        font-size: 0.9rem;
        margin: 0 1rem;
      }

      @include mobile {
        font-size: 0.8rem;
        padding: 0.4rem;
        margin: 0 0.75rem;
      }

      @include tablet {
        font-size: 1rem;
        margin: 0 1.5rem;
      }

      &:hover {
        background-color: var(--lightgrey-color);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
        transform: scale(1.05);
      }

      &.active {
        background-color: var(--primary-color);
        color: var(--white-color);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);

        &:hover {
          transform: none;
        }
      }
    }
  }

  .container {
    @include flex(row wrap, center, space-evenly);
    width: 70vw;
    height: 80vh;

    @include screen-1600px {
      width: 80vw;
    }

    @include screen-1000px {
      width: 90vw;
    }

    @include mobile {
      width: 100vw;
    }

    @include tablet {
      width: 70vw;
    }

    .item {
      @include flex(column nowrap, center, center);
      margin: 1rem 1.5rem;

      @include screen-1000px {
        margin: 0.7rem 1rem;
      }

      @include mobile {
        margin: 0.3rem 0.5rem;
      }

      @include tablet {
        margin: 1rem 1.5rem;
      }

      .img-wrapper {
        width: 20rem;
        height: 12rem;
        border-radius: 20px;
        border: 1px solid var(--lightgrey-color);
        margin-bottom: 1rem;
        overflow: hidden;
        cursor: pointer;

        @include screen-1600px {
          margin-bottom: 0.7rem;
        }

        @include screen-1500px {
          width: 18rem;
          height: 11.5rem;
          margin-bottom: 0.9rem;
        }

        @include screen-1300px {
          width: 15rem;
          height: 9.5rem;
          margin-bottom: 0.8rem;
        }

        @include screen-1100px {
          width: 13rem;
          height: 8rem;
          margin-bottom: 0.7rem;
        }

        @include screen-1000px {
          width: 12rem;
          height: 7.5rem;
          margin-bottom: 0.6rem;
        }

        @include mobile {
          width: 8rem;
          height: 5.5rem;
          margin-bottom: 0.3rem;
        }

        @include tablet {
          width: 13rem;
          height: 8rem;
          margin-bottom: 1rem;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      h3 {
        @include opacity(0);
        font-size: 1.25rem;

        @include screen-1000px {
          font-size: 1.1rem;
        }

        @include mobile {
          @include opacity(1);
          font-size: 0.95rem;
        }

        @include tablet {
          @include opacity(1);
          font-size: 1.25rem;
        }
      }

      &:hover {
        h3 {
          @include opacity(1);
        }
      }
    }
  }
}
