@import "../../index.scss";

.menu {
  @include container;
  @include flex(column nowrap, center, center);
  width: 15rem;
  background-color: var(--primary-color);
  position: fixed;
  top: 4.5rem;
  right: -15rem;
  z-index: 4;
  transition: all 1s ease;

  @include screen-1000px {
    top: 3.8rem;
  }

  @include mobile {
    width: 100vw;
    right: -100vw;
    top: 3rem;
    text-align: center;
  }

  @include tablet {
    width: 15rem;
    right: -15rem;
  }

  &.active {
    right: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--white-color);
    width: 60%;

    li {
      margin: 2rem 0;
      cursor: pointer;
      transition: all 0.3s ease;

      &.active {
        font-weight: 500;
      }

      &:hover {
        transform: translateY(-0.2rem);
      }
    }
  }
}
