@import "../../index.scss";

$main-color: #43a047;
$hover-color: #2e7d32;
$scroll-btn-color: #e9ecef;
$scroll-hover-btn-color: #ced4da;
$other-people-color: #3776ec;

.live-chat__container {
  @include container;
  @include flex(column nowrap, center, center);
  font-family: "Poppins", sans-serif;

  .live-chat__wrapper {
    @include flex(column nowrap, center, space-around);
    width: 20rem;
    height: 20rem;
    text-align: center;
    border-radius: 10px;
    background: $white-color;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);

    h3 {
      @include flex(column nowrap, center, center);
      font-size: 2.25rem;
      margin: 1rem 0;
    }

    .room-choice {
      @include flex(column nowrap, center, flex-start);
      width: 100%;
      flex: 60%;

      .room {
        @include flex(row nowrap, center, space-between);
        font-size: 1.25rem;
        width: 100%;
        min-height: 3.25rem;
        padding: 1rem;
        cursor: pointer;

        &:hover {
          background: $main-color;
          transition: 1s ease;
        }
      }
    }

    .form-control {
      @include flex(row nowrap, center, center);
      width: 100%;
      padding: 0 2.5rem;
    }

    input,
    .btn {
      font-family: "Poppins", sans-serif;
      width: 100%;
      margin: 0.5rem;
      padding: 0.5rem;
      border: 2px solid $main-color;
      border-radius: 5px;
      font-size: 1rem;

      &:focus {
        outline: none;
      }
    }

    input {
      height: 2.5rem;
      border: 2px solid $main-color;
      transition: all 0.4s ease;

      &:focus {
        border: 2px solid $primary-color;
      }
    }

    .btn {
      height: 3rem;
      border: none;
      background: $main-color;
      margin: 0.5rem 0.5rem 2rem 0.5rem;
      width: 15rem;
      color: $white-color;

      &:hover {
        background: $hover-color;
        transition: 0.4s ease;
      }

      &:active {
        transform: scale(0.95);
        transition: 0.2s ease;
      }
    }
  }

  .chat {
    @include flex(row wrap, flex-end, flex-end);
    width: 65rem;
    height: 40rem;

    @include screen(1100px) {
      width: 50rem;
    }

    @include mobile {
      width: 90vw;
      height: 90vh;
    }

    &.with-emoji {
      transition: all 0.5s ease-out;

      @include mobile {
        .chat-body {
          height: 0;
        }
      }

      .emoji-picker-react {
        transform: scale(1);

        @include screen(1100px) {
          width: 12.5rem;
        }

        @include mobile {
          width: 100%;
          height: 100%;
        }
      }
    }

    .chat-window {
      @include flex(column nowrap, center, center);
      width: calc(100% - 35rem);
      height: 100%;

      @include screen(1100px) {
        width: calc(100% - 25rem);
      }

      @include mobile {
        width: 100%;
      }

      .chat-header {
        @include flex(row nowrap, center, space-between);
        font-weight: 500;
        font-size: 1.2rem;
        height: 3rem;
        width: 100%;
        border-radius: 5px;
        background: $main-color;
        color: $white-color;
        cursor: default;
        padding: 0 1rem;

        @include mobile {
          padding: 0 0.5rem 0 1rem;
        }

        .btn {
          background: transparent;
          border: none;
          color: $white-color;
          transition: all 0.2s ease;

          &:hover {
            background: rgba(0, 0, 0, 0.3);
          }
        }
      }

      .chat-body {
        height: 35rem;
        border: 2px solid $main-color;
        border-top: none;
        position: relative;
        top: -0.2rem;
        width: 100%;
        padding: 0.5rem 0.2rem 0.2rem 0.2rem;
        position: relative;

        @include mobile {
          height: 100%;
        }

        .message-container {
          width: 100%;
          height: 100%;
          overflow-y: auto;
          scroll-behavior: smooth;
          scroll-snap-type: y mandatory;

          button {
            @include flex(row nowrap, center, center);
            position: absolute;
            background: $scroll-btn-color;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
            border-radius: 50%;
            width: 2.5rem;
            height: 2.5rem;
            bottom: 0.5rem;
            right: 1.5rem;

            &:hover {
              background: $scroll-hover-btn-color;
              transition: 0.4s ease;
            }

            &::after {
              display: flex;
              align-items: center;
              width: 1.5rem;
              height: 1.5rem;
              font-family: "Material Icons";
              content: "keyboard_arrow_down_outlined";
              font-size: 1.5rem;
            }
          }

          .message {
            @include flex(row nowrap, center, center);
            height: auto;
            padding: 0.5rem;
            scroll-snap-align: start;

            .message-content {
              @include flex(row nowrap, center, flex-start);
              width: auto;
              height: auto;
              min-height: 2rem;
              min-width: 5rem;
              max-width: 15rem;
              background: $main-color;
              border-radius: 5px;
              color: $white-color;
              margin: 0 0.5rem;
              padding: 0 0.5rem;
              overflow-wrap: break-word;
              word-break: break-word;

              @include mobile {
                max-width: 70vw;
              }
            }

            &.you {
              @include flex(row nowrap, center, flex-end);

              .message-content {
                @include flex(row nowrap, center, flex-end);
              }
            }

            &.other {
              @include flex(row nowrap, center, flex-start);

              .message-content {
                background: $other-people-color;
              }

              .message-meta {
                @include flex(row nowrap, center, flex-start);
              }
            }

            .message-meta {
              @include flex(row nowrap, center, space-between);
              margin: 0 0.5rem;
              max-width: 15rem;

              @include mobile {
                max-width: 70vw;
              }

              .author {
                @include flex(row nowrap, center, flex-end);
                flex: 60%;
                font-size: 0.8rem;
                font-weight: bold;
                overflow-wrap: break-word;
                word-break: break-word;
                text-transform: capitalize;

                @include mobile {
                  font-size: 0.7rem;
                }
              }

              .time {
                @include flex(row nowrap, center, flex-start);
                flex: 40%;
                font-size: 0.8rem;

                @include mobile {
                  font-size: 0.7rem;
                }
              }
            }
          }
        }
      }

      .chat-footer {
        @include flex(row nowrap, center, space-between);
        height: 3rem;
        width: 100%;
        position: relative;
        top: -0.2rem;
        border: 2px solid $main-color;
        border-top: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        .input-field {
          @include flex(row nowrap, center, space-between);
          height: 100%;
          flex: 2;

          input {
            font-family: "Poppins", sans-serif;
            font-size: 1rem;
            padding: 0.5rem 0.7rem;
            outline: none;
            border: none;
            border-radius: 10px;

            @include mobile {
              font-size: 0.9rem;
            }
          }
        }

        .send-btn {
          @include flex(row nowrap, center, center);
          height: 100%;

          .btn {
            font-size: 0.9rem;
            font-weight: 500;
            padding: 0.5rem 1rem;
            margin: 0 0.5rem;
            outline: none;
            border: none;
            border-radius: 20px;
            background: $main-color;
            color: $white-color;

            @include mobile {
              font-size: 0.8rem;
              padding: 0.4rem 0.8rem;
            }

            &:hover {
              background: $hover-color;
              transition: 0.4s ease;
            }

            &:active {
              transform: scale(0.9);
              transition: 0.2s ease;
            }
          }
        }
      }
    }

    .emoji-picker-react {
      height: calc(100% - 3rem);
      transform: scale(0);
      transform-origin: left bottom;
      transition: 0.5s ease-in;

      @include screen(1100px) {
        width: 12.5rem;
      }

      @include mobile {
        height: 100%;
        width: 100%;
      }

      .content-wrapper:before {
        display: none;
      }
    }
  }
}
