@import "../../index.scss";

@mixin opacity($opacity) {
  opacity: $opacity;
  transition: opacity 1s ease;
}

.portfolio {
  @include container;
  @include flex(column nowrap, center, space-between);
  font-family: "Roboto", sans-serif;

  h1 {
    @include flex(column nowrap, center, center);
    font-size: 2.8rem;
    margin-top: 1rem;
    height: 10vh;

    @include screen(1300px) {
      font-size: 2.5rem;
    }

    @include screen(1000px) {
      font-size: 2rem;
    }

    @include mobile {
      font-size: 1.5rem;
      margin: 0.25rem 0;
    }

    @include tablet {
      font-size: 3rem;
    }
  }

  .options {
    @include flex(row nowrap, center, space-between);

    padding: 0.5rem;
    width: 70vw;

    @include screen(1000px) {
      width: 80vw;
    }

    @include mobile {
      width: 100vw;
    }

    @include tablet {
      width: 70vw;
    }

    small {
      color: var(--darkgrey-color);
      text-align: center;
      text-transform: uppercase;

      @include mobile {
        font-size: 0.8rem;
        margin-bottom: -0.5rem;
      }
    }

    .filter-and-view {
      @include flex(row nowrap, center, flex-start);
      flex: 2;

      .view {
        @include flex(column nowrap, flex-start, flex-start);

        small {
          width: 4rem;
        }
      }

      .filter {
        @include flex(column nowrap, flex-start, flex-start);

        small {
          width: 11rem;

          @include mobile {
            width: 6rem;
          }
        }

        .form-control {
          width: 10rem;
          height: 3rem;
          margin: 0.5rem;
          justify-content: center;

          @include mobile {
            width: 5rem;
          }

          .select {
            @include mobile {
              height: 2rem;
              font-size: 0.9rem;
            }
          }
        }
      }
    }

    .pagination-wrapper {
      @include flex(column nowrap, center, flex-start);

      .pagination {
        @include flex(row nowrap, center, center);
        height: 4rem;

        input {
          font-size: 1rem;
          border: none;
          outline: none;
          width: 7.5rem;
          text-align: center;
          border-radius: 4px;
          padding: 1rem;
          margin: 0.5rem 0;
          transition: all 0.5s ease;

          @include mobile {
            font-size: 0.9rem;
            width: 5.5rem;
            padding: 0.5rem;
          }

          &::placeholder {
            color: var(--white-color);
          }

          &:focus {
            background: var(--primary-color);
            color: var(--white-color);
          }
        }
      }
    }
  }

  .container {
    @include flex(row wrap, center, space-around);
    width: 70vw;
    height: 90vh;

    @include screen(1600px) {
      width: 80vw;
    }

    @include screen(1000px) {
      width: 90vw;
    }

    @include mobile {
      width: 100vw;
    }

    @include tablet {
      width: 70vw;
    }

    .item {
      @include flex(column nowrap, center, center);
      margin: 1rem 1.5rem;

      @include screen(1000px) {
        margin: 0.7rem 1rem;
      }

      @include mobile {
        margin: 0.3rem 0.5rem;
      }

      @include tablet {
        margin: 1rem 1.5rem;
      }

      &.scaled {
        transform: scale(2.25);

        .img-wrapper {
          margin: 0;
        }

        h3 {
          @include opacity(1);
          transform: scale(0.5);
        }
      }

      .img-wrapper {
        width: 20rem;
        height: 12rem;
        border-radius: 20px;
        border: 1px solid var(--lightgrey-color);
        margin-bottom: 1rem;
        cursor: pointer;
        position: relative;

        &.featured {
          &::before {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            width: 1.5rem;
            height: 6rem;
            transform: rotate(-45deg) translate(1rem, -1rem);
            background: linear-gradient(45deg, #ffd02c, #ff9900);
          }

          .star {
            position: absolute;
            top: 0.4rem;
            right: 0.4rem;
            color: var(--white-color);
          }
        }

        @include screen(1600px) {
          margin-bottom: 0.7rem;
        }

        @include screen(1500px) {
          width: 18rem;
          height: 11.5rem;
          margin-bottom: 0.9rem;
        }

        @include screen(1300px) {
          width: 15rem;
          height: 9.5rem;
          margin-bottom: 0.8rem;
        }

        @include screen(1100px) {
          width: 13rem;
          height: 8rem;
          margin-bottom: 0.7rem;
        }

        @include screen(1000px) {
          width: 12rem;
          height: 7.5rem;
          margin-bottom: 0.6rem;
        }

        @include mobile {
          width: 8rem;
          height: 5.5rem;
          margin-bottom: 0.3rem;
        }

        @include tablet {
          width: 13rem;
          height: 8rem;
          margin-bottom: 1rem;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      h3 {
        @include opacity(0);
        font-size: 1.25rem;

        @include screen(1000px) {
          font-size: 1.1rem;
        }

        @include mobile {
          @include opacity(1);
          font-size: 0.95rem;
        }

        @include tablet {
          @include opacity(1);
          font-size: 1.25rem;
        }
      }

      &:hover {
        h3 {
          @include opacity(1);
        }
      }
    }
  }
}
