@import "../../../index.scss";

$link-color: #add8e6;

.form-wave-animation__container {
  @include container;
  @include flex(column nowrap, center, center);
  background: $lightblue-color;
  color: $white-color;

  .form-wrapper {
    background: rgba(0, 0, 0, 0.4);
    padding: 1.5rem 2.5rem;
    border-radius: 10px;

    @include mobile {
      padding: 1rem 2rem;
    }

    h1 {
      font-family: "Soleil Bold";
      text-align: center;
      margin-bottom: 0.75rem;

      @include mobile {
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
      }
    }

    .user-info {
      @include flex(column nowrap, center, center);
      transition: all 0.5s ease;
      margin-bottom: 1rem;
      padding: 0.75rem;
      border-radius: 20px;
      position: relative;
      cursor: default;
      color: $green-color;
      border: 1px solid $green-color;

      h4 {
        font-family: "Soleil Light";
        text-align: center;
        font-size: 1rem;
        padding: 0.25rem;

        @include mobile {
          font-size: 0.9rem;
        }
      }

      &.no-data {
        margin-bottom: 0.25rem;
        color: $yellow-color;
        border: 1px solid $yellow-color;
      }

      &.proceed {
        margin-bottom: 0.25rem;
        color: $link-color;
        border: 1px solid $link-color;
      }
    }

    .form-control {
      margin: 1.5rem 0 0.5rem;
      width: 25rem;

      @include mobile {
        margin: 1rem 0 0.5rem;
        width: 80vw;
      }

      input {
        position: relative;
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid $white-color;
        display: block;
        width: 100%;
        padding: 1.5rem 0 0.5rem;
        font-size: 1.2rem;
        color: $white-color;
        transition: 0.4s ease;

        @include mobile {
          padding: 1.2rem 0 0.5rem;
          font-size: 1rem;
        }

        &:hover {
          border-bottom-color: $lightblue-color;

          + label {
            span {
              color: $lightblue-color;
            }
          }
        }

        &:focus,
        &:not([value=""]) {
          outline: none;
          border-bottom-color: $link-color;

          + label {
            cursor: default;

            span {
              color: $link-color;
              transform: translateY(-1.5rem);

              @include mobile {
                transform: translateY(-1rem);
              }
            }
          }
        }
      }

      label {
        position: relative;
        top: -2rem;
        left: 0;

        &:hover {
          cursor: text;
        }

        span {
          font-family: "Soleil Light";
          display: inline-block;
          font-size: 1rem;
          min-width: 5px;
          transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

          @include mobile {
            font-size: 0.9rem;
          }
        }
      }
    }

    .btn {
      font-family: "Soleil Regular";
      display: inline-flex;
      align-content: center;
      justify-content: center;
      width: 100%;
      background: $link-color;
      padding: 1rem;
      font-size: 1rem;
      border: none;
      border-radius: 5px;

      @include mobile {
        padding: 0.9rem;
        font-size: 0.9rem;
      }

      &:hover {
        opacity: 0.8;
      }

      &:active {
        transform: scale(0.95);
      }
    }

    .text {
      @include flex(row nowrap, center);
      font-family: "Soleil Regular";
      margin-top: 1rem;
      font-size: 0.9rem;

      @include mobile {
        margin-top: 0.8rem;
        font-size: 0.8rem;
      }

      .link {
        font-family: "Soleil Light";
        background: transparent;
        text-decoration: none;
        padding: 0;
        margin-left: 0.5rem;
        width: 4rem;
        border: none;
        font-size: 1rem;
        cursor: pointer;
        color: $link-color;

        &:hover {
          opacity: 0.8;
        }

        &:active {
          transform: scale(0.95);
        }
      }

      .checkbox {
        margin-left: 0.5rem;
        color: $link-color;

        @include mobile {
          margin-left: 0.25rem;
        }
      }
    }
  }
}
