@import "../../../index.scss";

$main-color: #8e44ad;

.incrementing-counter__container {
  @include container;
  @include flex(row nowrap, center, center);
  background: $main-color;
  color: $white-color;
  font-family: "Soleil Book";

  @include mobile {
    @include flex(column nowrap, center, center);
  }

  .counter-container {
    @include flex(column nowrap, center, center);
    margin: 2rem 3rem;
    width: 20vw;

    @include screen(1000px) {
      margin: 1.5rem 2.5rem;
    }

    @include mobile {
      width: 100vw;
    }

    .icon {
      font-size: 3rem;

      @include screen(1000px) {
        font-size: 2.5rem;
      }

      @include mobile {
        font-size: 2rem;
      }
    }

    .counter {
      font-size: 4rem;
      margin-top: 0.5rem;

      @include screen(1000px) {
        font-size: 3.5rem;
      }

      @include mobile {
        font-size: 3.25rem;
        margin-top: 0.25rem;
      }
    }

    span {
      font-size: 1.25rem;

      @include screen(1000px) {
        font-size: 1rem;
      }

      @include mobile {
        font-size: 0.9rem;
      }
    }
  }
}
