@import '../../../index.scss';

.drawing-app__container {
  @include container;
  @include flex(column nowrap, center, center);
  overflow: hidden;

  canvas {
    border: 2px solid var(--primary-color);
  }

  .toolbox {
    @include flex();
    background: var(--primary-color);
    width: 804px;
    padding: 1rem;
    overflow: hidden;

    > * {
      background: var(--white-color);
      border: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      height: 2.5rem;
      width: 3rem;
      margin: 0.25rem;
      padding: 0.25rem;
      overflow: hidden;
      cursor: pointer;

      &:last-child {
        margin-left: auto;
      }
    }
  }
}
