@import "../../../index.scss";

$main-color: #22254b;
$second-color: #373b69;
$search-color: #7378c5;
$good-rate-color: #90ee90;
$moderate-rate-color: #ffd700;
$bad-rate-color: #ff0000;

.movie-app__container {
  @include container;
  background: $main-color;
  font-family: "Poppins", sans-serif;
  overflow: auto;

  header {
    padding: 1rem;
    @include flex(row nowrap, initial, space-between);
    background: $second-color;

    h1 {
      color: $white-color;
    }

    form {
      @include flex(row nowrap, center, center);

      .search {
        background: transparent;
        border: 2px solid $second-color;
        border-radius: 3rem;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        color: $white-color;
        transition: all 0.4s ease;

        &::placeholder {
          color: $search-color;
        }

        &:focus {
          background: $main-color;
          outline: none;
        }
      }
    }
  }

  main {
    @include flex(row wrap);

    .movie {
      width: 20rem;
      margin: 1rem;
      background: $second-color;
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
      position: relative;
      border-radius: 5px;

      &:hover {
        .overview {
          transform: translateY(0);
        }
      }

      img {
        width: 100%;
      }

      .movie-info {
        @include flex(row nowrap, center, space-between);
        color: $white-color;
        padding: 0.5rem 1rem 1rem;
        letter-spacing: 0.5px;

        h3 {
          flex: 10;
        }

        span {
          font-weight: bold;
          padding: 0.25rem 0.5rem;
          background: $main-color;
          border-radius: 5px;
          flex: 1;
          text-align: center;

          &.green {
            color: $good-rate-color;
          }

          &.orange {
            color: $moderate-rate-color;
          }

          &.red {
            color: $bad-rate-color;
          }
        }
      }

      .overview {
        background: $white-color;
        padding: 0 2rem 2rem 2rem;
        position: absolute;
        bottom: 0;
        left: 0;
        max-height: 100%;
        transform: translateY(100%);
        transition: transform 0.3s ease-in;
        overflow: auto;

        h3 {
          margin: 1rem 0;
        }
      }
    }
  }
}
