@import "../../../index.scss";

$main-color: #7bdaf3;
$second-color: #9ec862;

.notes-app__container {
  @include container;
  @include flex(row wrap);
  padding-top: 4rem;
  background: $main-color;
  font-family: "Poppins", sans-serif;
  overflow: auto;

  .add {
    @include flex(row nowrap, center, center);
    position: fixed;
    font-family: "Poppins", sans-serif;
    top: 5.5rem;
    right: 1rem;
    background: $second-color;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: $white-color;
    z-index: 2;

    @include screen(1000px) {
      top: 4.8rem;
    }

    @include mobile {
      top: 4rem;
    }
  }

  .note {
    background: $white-color;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    margin: 0 1.5rem 2rem 1.5rem;
    height: 25rem;
    width: 25rem;
    position: relative;

    .tools {
      @include flex(row nowrap, center, space-between);
      background: $second-color;
      padding: 0.5rem;
      position: sticky;
      top: 0;
      height: 3.25rem;
      width: 100%;

      .title-wrapper {
        flex: 2;
        width: 100%;
        height: 100%;

        input,
        .title {
          height: 100%;
          width: 100%;
          color: $white-color;
          font-size: 1.25rem;
          padding: 0.25rem;
        }

        .title {
          cursor: pointer;
        }

        input {
          outline: none;
          border: none;
          background: transparent;
          border-radius: 10px;

          &::placeholder {
            color: $white-color;
          }
        }
      }

      button {
        background: transparent;
        border: none;
        color: $white-color;
        margin-left: 0.5rem;
        border-radius: 50%;
        padding: 0.5rem;
        cursor: pointer;

        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }

        &:active {
          transform: scale(0.9);
          transition: 0.2s ease-out;
        }

        &:disabled {
          opacity: 0.5;
        }

        .icon {
          font-size: 1.25rem;
        }
      }
    }

    .hidden {
      display: none;
    }

    .main,
    textarea {
      padding: 1rem;
      font-size: 1rem;
      overflow: auto;
      height: calc(100% - 3.25rem);
      width: 100%;
    }

    .main {
      cursor: pointer;
      word-break: break-word;
    }

    textarea {
      font-family: "Poppins", sans-serif;
      resize: none;
      outline: none;
      border: none;
    }
  }
}
