@mixin flex($align-items: initial, $justify-content: initial, $flex-flow: row nowrap) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-flow: $flex-flow;
}

.works {
  @include flex(center, center);
  background-color: var(--red-color);
  position: relative;
  overflow: hidden;
  
  .slider {
    @include flex();
    height: 22rem;
    position: absolute;
    left: 0;
    transition: all 1s ease-in-out; 
    
    .container {
      @include flex(center, center);
      width: 100vw;

      .item {
        @include flex(center, center);
        width: 45rem;
        height: 100%;
        background-color: var(--white-color);
        border-radius: 20px;

        .left {
          @include flex(center, center);
          flex: 4;
          height: 80%;

          .left-container {
            @include flex(initial, space-between, column nowrap);
            width: 90%;
            height: 70%;

            .img-container {
              @include flex(center, center);
              background-color: var(--pink-color);
              width: 2.5rem;
              height: 2.5rem;
              border-radius: 50%;

              img {
                width: 1.5rem;
              }
            }

            h2 {
              font-size: 1.4rem;
            }

            p {
              font-size: 1rem;
            }

            span {
              font-size: 0.8rem;
              font-weight: 600;
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }

        .right {
          @include flex(center, center);
          flex: 8;
          height: 100%;
          overflow: hidden;

          img {
            width: 25rem;
            transform: rotate(-10deg);
          }
        }
      }
    }
  }

  .arrow {
    height: 5rem;
    position: absolute;
    cursor: pointer;
  
    &.left {
      left: 5rem;
      transform: rotate(180deg);
    }
  
    &.right {
      right: 5rem;
    }
  
    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}