@mixin flex($flex-flow: row nowrap, $align-items: initial, $justify-content: initial) {
  display: flex;
  flex-flow: $flex-flow;
  align-items: $align-items;
  justify-content: $justify-content;
}

.intro {
  @include flex(row nowrap, center);
  background-color: var(--white-color);

  .left {
    flex: 0.5;
    overflow: hidden;
    
    .img-container {
      @include flex(row nowrap, center, center);
      background-color: var(--intro-color);
      border-radius: 50%;
      width: 50rem;
      height: 50rem;
      margin-left: 2rem;

      img {
        height: 100%;
      }
    }
  }
  
  .right {
    flex: 0.5;

    .wrapper {
      @include flex(column nowrap, initial, center);
      width: 100%;
      height: 100%;
      padding-left: 3rem;
      float: right;

      h1 {
        font-size: 3.8rem;
        margin: 0.7rem 0;
      }

      h2 {
        font-size: 2.1rem;
      }

      h3 {
        font-size: 1.8rem ;

        span {
          font-size: inherit;
          color: var(--intro-color);
        }

        .ityped-cursor {
          animation: blink 1s infinite;
        }

        @keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }

    a {
      position: absolute;
      bottom: 0.5rem;
      left: 50%;

      img {
        width: 2rem;
        animation: arrowBlink 2s infinite;
      }

      @keyframes arrowBlink {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }
  }
}