@import "../../index.scss";

.not-found__container {
  @include container;
  @include flex(column nowrap, center, center);

  img {
    width: 70rem;
    height: auto;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);

    @include screen-1500px {
      width: 60rem;
    }

    @include screen-1300px {
      width: 50rem;
    }

    @include screen-1200px {
      opacity: 0.5;
      width: 90vw;
    }
  }

  .content-wrapper {
    @include flex(column nowrap, initial, space-between);
    position: absolute;
    height: 30rem;
    right: 15rem;

    @include screen-1700px {
      right: 10rem;
    }

    @include screen-1600px {
      right: 5rem;
    }

    @include screen-1400px {
      right: 2.5rem;
    }

    @include screen-1300px {
      height: 25rem;
    }

    @include screen-1200px {
      @include flex(column nowrap, center, space-between);
      width: 100%;
      height: 30rem;
      right: 0;
    }

    @include mobile {
      height: 25rem;
    }

    @include tablet {
      @include flex(column nowrap, center, space-between);
      width: 100%;
      height: 40rem;
      right: 0;
    }

    h1 {
      font-family: "Poppins";
      text-transform: uppercase;
      margin-bottom: 2rem;
      font-size: 4rem;
      overflow: hidden;
      color: var(--not-found-color);

      @include screen-1300px {
        margin-bottom: 1rem;
      }

      @include mobile {
        font-size: 3rem;
      }

      @include tablet {
        font-size: 4rem;
        margin-bottom: 2rem;
      }
    }

    p {
      font-family: "Poppins";
      text-align: left;
      font-size: 1rem;
      margin-bottom: 10rem;
      overflow: hidden;
      color: var(--not-found-color);

      @include screen-1300px {
        margin-bottom: 8rem;
      }

      @include mobile {
        margin-bottom: 5rem;
      }

      @include tablet {
        margin-bottom: 10rem;
      }
    }

    .link {
      overflow: hidden;
      padding: 2rem 0;

      @include screen-1300px {
        padding: 1.5rem 0;
      }

      @include mobile {
        padding: 1rem 0;
      }

      @include tablet {
        padding: 2rem 0;
      }

      a,
      span {
        font-family: "Poppins";
        font-weight: 500;
        text-decoration: none;
        font-size: 1.3rem;
        text-transform: uppercase;
        line-height: 1rem;
        cursor: pointer;
        letter-spacing: 0.15rem;
        color: var(--not-found-color);
        position: relative;
        overflow: hidden;

        @include mobile {
          font-size: 1.1rem;
          letter-spacing: 0.1rem;
        }

        @include tablet {
          font-size: 1.3rem;
          letter-spacing: 0.15rem;
        }

        &::before {
          width: 100%;
          content: "";
          background: var(--black-color);
          position: absolute;
          bottom: -2px;
          left: 0;
          height: 0.05rem;
          transform: scale(0);
          transform-origin: left;
          transition: all 0.3s ease-in-out;

          @include mobile {
            transform: scale(1);
          }

          @include tablet {
            transform: scale(1);
          }
        }

        &:hover {
          &::before {
            transform: scale(1);
          }
        }
      }
    }
  }
}
