@import "../../../index.scss";

.audio-player__wrapper {
  width: 100%;
  height: 100%;
  padding: 1rem;

  @include mobile {
    padding: 0.5rem;
  }

  .duration {
    @include flex(row nowrap, center, center);
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    margin: 0.75rem 0 0.25rem;
    cursor: default;

    @include mobile {
      font-size: 1rem;
    }
  }

  .icon-btn {
    color: $white-color;
    padding: 0.5rem;
    transition: all 0.5s ease;
    margin: 0 0.5rem;

    @include mobile {
      padding: 0.25rem;
      margin: 0 0.25rem;
    }

    &.icon-on {
      color: #0c0e1b;
      background: #fe6f6b;
    }

    &:hover {
      color: #0c0e1b;
      background: #c9ccea;
    }
  }

  input[type="range"] {
    appearance: none;
    background-color: #c9ccea;
    border-radius: 10px;

    @include mobile {
      transform: rotate(270deg);
      width: 2.5rem;
    }

    &::-webkit-slider-runnable-track {
      appearance: none;
      height: 1rem;
      color: #fe6f6b;
    }

    &::-webkit-slider-thumb {
      appearance: none;
      width: 1rem;
      height: 1rem;
      cursor: ew-resize;
      border-radius: 50%;
      background: $secondary-color;
      box-shadow: -5rem 0 0.5rem 5rem #fe6f6b;
    }
  }

  .tools-wrapper {
    @include flex(row nowrap, center, space-between);

    @include mobile {
      @include flex(row nowrap, flex-start, space-between);
      height: calc(100% - 6rem);
    }

    .volume-wrapper {
      @include flex(row nowrap, center, flex-start);
      flex: 1;

      @include mobile {
        @include flex(column nowrap, center, flex-start);
        height: 100%;

        .icon-btn {
          margin: 0 0 1rem;
        }
      }
    }

    .speed-wrapper {
      @include flex(row nowrap, center, flex-end);
      flex: 1;

      @include mobile {
        @include flex(column-reverse nowrap, center, flex-end);
        height: 100%;

        .icon-btn {
          margin: 0 0 1rem;
        }
      }
    }

    .controls-wrapper {
      @include flex(row nowrap, center, center);
      flex: 4;

      @include mobile {
        @include flex(row wrap, flex-start, center);
        height: 100%;

        .skip-prev,
        .back,
        .play-pause,
        .forward,
        .skip-next {
          order: 1;
        }

        .shuffle,
        .repeat {
          order: 2;
        }
      }
    }

    .speed-wrapper p {
      font-family: "Poppins", sans-serif;
      text-align: center;
      width: 2.5rem;
    }
  }
}
