@import './assets/Roboto/roboto.scss';
@import './assets/Solelil/solelil.scss';
@import './assets/FreightTextPro/freight-text-pro.scss';

:root {
  --white-color: #fff;
  --primary-color: #3f51b5;
  --red-color: #dc143c;
  --lightgrey-color: #d3d3d3;
  --grey-color: #555;
  --darkgrey-color: #999;
  --brown-color: #333;
  --pink-color: #ff7979;
  --green-color: #07bc0c;
  --yellow-color: #f1c40f;
  --active-progress-steps-color: #3498db;
  --inactive-progress-steps-color: #e0e0e0;
  --bg-content-scroll-animation-color: #4682b4;
  --left-bg-split-landing-page-color: rgba(87, 84, 236, 0.7);
  --right-bg-split-landing-page-color: rgba(43, 43, 43, 0.8);
  --left-btn-hover-split-landing-page-color: rgba(68, 65, 255, 0.7);
  --right-btn-hover-split-landing-page-color: rgba(28, 122, 28, 1);
}

@mixin scrollbar($bg-color) {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: $bg-color;
}

@mixin flex($flex-flow: row nowrap, $align-items: initial, $justify-content: initial) {
  display: flex;
  flex-flow: $flex-flow;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin screen-1600px {
  @media screen and (max-width: 1600px) {
    @content
  }
};

@mixin screen-1500px {
  @media screen and (max-width: 1500px) {
    @content
  }
};

@mixin screen-1400px {
  @media screen and (max-width: 1400px) {
    @content
  }
};

@mixin screen-1300px {
  @media screen and (max-width: 1300px) {
    @content
  }
};

@mixin screen-1200px {
  @media screen and (max-width: 1200px) {
    @content
  }
};

@mixin screen-1000px {
  @media screen and (max-width: 1000px) {
    @content
  }
};

@mixin mobile {
  @media (max-width: 50rem) {
    @content
  }
};

@mixin tablet {
  @media (max-width: 1200px) and (min-height: 1000px) {
    @content
  }
};

@mixin container {
  width: 100vw;
  height: calc(100vh - 4.5rem);

  @include screen-1000px {
    height: calc(100vh - 3.8rem);
  }

  @include mobile {
    height: calc(100vh - 3rem);
  }
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;

  .app {
    height: 100vh;
  }
}

::-webkit-scrollbar-track {
  @include scrollbar(var(--white-color));
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  @include scrollbar(var(--primary-color));
}