@import './assets/Roboto/roboto.scss';
@import './assets/Soleil/soleil.scss';
@import './assets/FreightTextPro/freight-text-pro.scss';
@import './assets/MaterialIcons/material-icons.scss';
@import './assets/Poppins/poppins.scss';

:root {
  --white-color: #fff;
  --black-color: #000;
  --primary-color: #3f51b5;
  --red-color: #dc143c;
  --lightgrey-color: #d3d3d3;
  --grey-color: #555;
  --darkgrey-color: #999;
  --brown-color: #333;
  --pink-color: #ff7979;
  --green-color: #07bc0c;
  --yellow-color: #f1c40f;
  --bg-content-scroll-animation-color: #4682b4;
  --left-bg-split-landing-page-color: rgba(87, 84, 236, 0.7);
  --right-bg-split-landing-page-color: rgba(43, 43, 43, 0.8);
  --left-btn-hover-split-landing-page-color: rgba(68, 65, 255, 0.7);
  --right-btn-hover-split-landing-page-color: rgba(28, 122, 28, 1);
  --link-form-wave-animation-color: #add8e6;
  --bg-dad-jokes-color: #686de0;
  --btn-dad-jokes-color: #9f68e0;
  --bg-faq-collapse-color: #f0f0f0;
  --bg-icon-faq-collapse-color: #2ecc71;
  --bg-buttons-faq-collapse-color: #9fa4a8;
  --bg-random-choice-picker-color: #2b88f0;
  --bg-tag-random-choice-picker-color: #f0932b;
  --bg-highlight-random-choice-picker-color: #273c75;
  --bg-animated-navigation-first-color: #eafbff;
  --bg-animated-navigation-second-color: #5290f9;
  --bg-incrementing-counter-color: #8e44ad;
  --primary-movie-app-color: #22254b;
  --secondary-movie-app-color: #373b69;
  --search-movie-app-color: #7378c5;
  --bg-drink-water-color: #3494e4;
  --border-drink-water-color: #144fc6;
  --fill-drink-water-color: #6ab3f8;
  --date-theme-clock-color: #aaa;
  --bg-github-profiles-color: #2a2a72;
  --items-bg-github-profiles-color: #4c2885;
  --input-placeholder-github-profiles-color: #bbb;
  --repo-github-profiles-color: #212a72;
  --bg-password-generator-color: #3b3b98;
  --bg-wrapper-password-generator-color: #23235b;
  --bg-body-notes-app-color: #7bdaf3;
  --bg-notes-app-color: #9ec862;
}

@mixin scrollbar($bg-color) {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: $bg-color;
}

@mixin flex(
  $flex-flow: row nowrap,
  $align-items: initial,
  $justify-content: initial
) {
  display: flex;
  flex-flow: $flex-flow;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin screen-1600px {
  @media screen and (max-width: 1600px) {
    @content;
  }
}

@mixin screen-1500px {
  @media screen and (max-width: 1500px) {
    @content;
  }
}

@mixin screen-1400px {
  @media screen and (max-width: 1400px) {
    @content;
  }
}

@mixin screen-1300px {
  @media screen and (max-width: 1300px) {
    @content;
  }
}

@mixin screen-1200px {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin screen-1100px {
  @media screen and (max-width: 1100px) {
    @content;
  }
}

@mixin screen-1000px {
  @media screen and (max-width: 1000px) {
    @content;
  }
}

@mixin screen-900px {
  @media screen and (max-width: 900px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 50rem) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1200px) and (min-height: 1000px) {
    @content;
  }
}

@mixin container {
  width: 100vw;
  height: calc(100vh - 4.5rem);

  @include screen-1000px {
    height: calc(100vh - 3.8rem);
  }

  @include mobile {
    height: calc(100vh - 3rem);
  }
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;

  .app {
    height: 100vh;
  }
}

::-webkit-scrollbar-track {
  @include scrollbar(var(--white-color));
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  @include scrollbar(var(--primary-color));
}
